<div class="not-found-container">

    <div class="circle"></div>
    <div class="circle circle2"></div>

    <div class="content">

        <!-- <img
            src="/owl.png"
            alt="404"
            class="owl"> -->

        <h1>404</h1>

        <h2>الصفحة غير موجودة</h2>

        <p>
            يبدو أن الصفحة التي تبحث عنها غير موجودة أو تم نقلها.
        </p>

        <div class="buttons">

            <a routerLink="/" class="btn btn-primary">
                <i class="fa-solid fa-house"></i>
                العودة للرئيسية
            </a>

            <a routerLink="/contact" class="btn btn-outline">
                <i class="fa-brands fa-whatsapp"></i>
                تواصل معنا
            </a>

        </div>

    </div>

</div>
